<?xml version="1.0"?>

<launch>


    <arg name="robot_name" default="robot1" />

    <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->

    <group ns="$(arg robot_name)" >
        <!-- Turtlebot -->
        <arg name="base"              default="$(env TURTLEBOT_BASE)"         doc="mobile base type [create, roomba]"/>
        <arg name="battery"           default="$(env TURTLEBOT_BATTERY)"      doc="kernel provided locatio for battery info, use /proc/acpi/battery/BAT0 in 2.6 or earlier kernels." />
        <arg name="stacks"            default="$(env TURTLEBOT_STACKS)"       doc="stack type displayed in visualisation/simulation [circles, hexagons]"/>
        <arg name="simulation"        default="false"                         doc="set flags to indicate this turtle is run in simulation mode."/>
        <arg name="serialport"        default="$(env TURTLEBOT_SERIAL_PORT)"  doc="used by create to configure the port it is connected on [/dev/ttyUSB0, /dev/ttyS0]"/>
        <arg name="robot_type"        default="$(env TURTLEBOT_TYPE)"         doc="just in case you are considering a 'variant' and want to make use of this."/>

        <param name="/use_sim_time" value="$(arg simulation)"/>

        <include file="$(find turtlebot_bringup)/launch/includes/description.launch.xml">
          <arg name="base" value="$(arg base)" />
          <arg name="stacks" value="$(arg stacks)" />
          <arg name="3d_sensor" value="$(arg 3d_sensor)" />
        </include>

        <!-- important generally, but specifically utilised by the current app manager -->
        <param name="robot/name" value="$(optenv ROBOT turtlebot)"/>
        <param name="robot/type" value="turtlebot"/>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
          <param name="publish_frequency" type="double" value="5.0" />
          <param name="tf_prefix" type="string" value="$(arg robot_name)"/>
        </node>
        <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
          <rosparam command="load" file="$(find turtlebot_bringup)/param/$(arg base)/diagnostics.yaml" />
        </node>

        <!-- mobile base nodelet manager -->
        <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager">
          <param name="tf_prefix" value="$(arg robot_name)"/>
        </node>

        <arg name="manager" value="mobile_base_nodelet_manager"/>

        <node pkg="nodelet" type="nodelet" name="mobile_base" args="load kobuki_node/KobukiNodelet $(arg manager)">
          <rosparam file="$(find kobuki_node)/param/base.yaml" command="load"/>
          <param name="device_port" value="$(arg serialport)" />
          <param name="tf_prefix" value="$(arg robot_name)" />
          <param name="odom_frame" value="$(arg robot_name)/odom"/>
          <param name="base_frame" value="$(arg robot_name)/base_footprint"/>

          <remap from="mobile_base/odom" to="odom"/>
          <!-- Don't do this - force applications to use a velocity mux for redirection
            <remap from="mobile_base/commands/velocity" to="cmd_vel"/>
          -->
          <remap from="mobile_base/enable" to="enable"/>
          <remap from="mobile_base/disable" to="disable"/>
          <remap from="mobile_base/joint_states" to="joint_states"/>
        </node>

        <!-- bumper/cliff to pointcloud -->
        <include file="$(find turtlebot_bringup)/launch/includes/kobuki/bumper2pc.launch.xml"/>

        <!-- velocity commands multiplexer -->
        <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
          <param name="yaml_cfg_file" value="$(find turtlebot_bringup)/param/mux.yaml"/>
          <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
        </node>

        <!--
        <include file="$(find turtlebot_bringup)/launch/includes/mobile_base.launch.xml">
          <arg name="base" value="$(arg base)" />
          <arg name="serialport" value="$(arg serialport)" />
        </include>
      -->

        <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
          <arg name="rgb_processing" value="false" />
          <arg name="depth_registration" value="false" />
          <arg name="depth_processing" value="false" />

          <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
               Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
          <arg name="scan_topic" value="/$(arg robot_name)/scan" />
        </include>

    </group>

</launch>
