<launch>

	<node name="rosbag" pkg="rosbag" type="record" args="-o $(find hybrid_controller)/bags/ -a"/>

	<!-- formulas: -->
	<rosparam command="load" file="$(find hybrid_controller)/launch/formulas.yaml" />
	<rosparam command="load" file="$(find hybrid_controller)/launch/formula_derivatives.yaml" />


	<rosparam param="u_max">[0.5, 6.28]</rosparam>
	<param name="K" type="int" value="10"/>
            
	<!-- controllers: -->

	<node pkg="hybrid_controller" type="hybrid_controller_node" name="hybrid_controller0">
		<remap from="/cmdvel" to="/cmdvel0" />
		<remap from="/pose_robot0" to="/nexus0/pose"/>
		<param name="~robot_id" type="int" value="0"/>
	</node>

	<!-- virtual robots -->
	<param name="n_robots" type="int" value="1"/>

	<!--<node pkg="robot" type="robot_node" name="robot0" output="screen" >
		<remap from="/cmdvel" to="/cmdvel0" />
		<remap from="/pose" to="/pose_robot0" />
	</node>

	<node pkg="rviz" type="rviz" name="rviz" />-->
	
</launch>

