<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="lidar" params="name parent *origin gpu:=false">

		<xacro:property name="gpu_prefix" value="" />

		<joint name="${name}_joint" type="fixed">
			<xacro:insert_block name="origin" />
			<parent link="${parent}"/>
			<child link="${name}_link"/>
		</joint>

		<link name="${name}_link">
			<visual name="visual_${name}">
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<cylinder radius="0.05" length="0.1" />
				</geometry>
				<material name="material_${name}">
					<color rgba="0.1 0.1 0.1 1.0" />
				</material>
			</visual>
			<inertial>
				<mass value="0.1"/>
				<origin xyz="0 0 0"/>
				<inertia ixx="1" ixy="0.0" ixz="0.0"
						 iyy="1" iyz="0.0"
						 izz="1"/>
			</inertial>
		</link>

		<gazebo reference="${name}_link">
			<!--<sensor type="${gpu_prefix}ray" name="${name}_sensor">-->
			<sensor type="ray" name="${name}_sensor">
				<pose>0 0 0 0 0 0</pose>
				<visualize>false</visualize>
				<update_rate>40</update_rate>
				<ray>
					<scan>
						<horizontal>
							<samples>720</samples>
							<resolution>1</resolution>
							<min_angle>-1.570796</min_angle>
							<max_angle>1.570796</max_angle>
						</horizontal>
					</scan>
					<range>
						<min>0.20</min>
						<max>30.0</max>
						<resolution>0.01</resolution>
					</range>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.01</stddev>
					</noise>
				</ray>
				<!--<plugin name="${name}_controller" filename="libgazebo_ros_${gpu_prefix}laser.so">-->
				<plugin name="${name}_controller" filename="libgazebo_ros_laser.so">
					<topicName>base_scan</topicName>
					<frameName>${name}_link</frameName>
				</plugin>
			</sensor>
		</gazebo>
		
	</xacro:macro>

</robot>
